<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="static/img/logo.jpg">
    <title>StarCube</title>
    <br/>
    <!--<center><h1 style="align-content: flex-start">Search Question</h1></center>
    <center><form action="/rec_html" method="post" enctype="multipart/form-data">
        <div class="row">
            <input type='file' name='file' size='100' id='uploadimage'class="btn btn-default"/>
            <input type="submit" value="Go" />
        </div>
    </form></center>-->
    <!--<link href="static/css/style2.min.css" rel="stylesheet">-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--<script src="/static/js/online.js"></script>-->
    <style type="text/css">
        body{background:#A9A9A9}
		.col-center-block {
		    float: none;
		    display: block;
		    margin: 0 auto;
		}
		.row {
			margin-top:5px;
		}
        .btn-size {
            height:34px;
        }
        .project-name {
            text-align: center;
            align-content: flex-start;
        }
	</style>
</head>
<body>
    <div>
        <canvas class="col-center-block" id="cv"></canvas>
        <br/>
        <!--<button class="col-center-block" id='clear' class="btn btn-default">Clear</button>-->
    </div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

      <!--<div class="navbar navbar-inverse navbar-fixed-top">
	 	<div class="container">
	        <div class="navbar-header">
                <div class="navbar-header">
	                <a class="navbar-brand" href="/Easter_Egg0">Star</a>
	            </div>
	        </div>
	    </div>
      </div>-->

      <div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <div class="navbar-header">
              <a class="navbar-brand" href="/Easter_Egg0">Star</a>
          </div>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/">home</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li class="divider"></li>
	            <li><a href="/logout">Logout</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>
	</div>

		<div class="container col-center-block">
			<h1 class="project-name">Star Cube</h1>
            </br>
            <form role="form" action="/rec_html" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-6 col-center-block">
                        <div class="input-group">
                            <input type='file' class="form-control" name='file' required="true" size='60' id='uploadimage'/>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-size" type="submit" id="enter"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        document.onkeydown = function(e) {
            if(e.keyCode == 13) {
                $('#enter').click();
                return false
            }
            if(e.keyCode == 85){
                $('#uploadimage').click();
            }
        }
    </script>

    <!--<script type="text/javascript">
              function draw(ev) {
                          console.log(ev);

                          f = document.getElementById("uploadimage").files[0];
                          url = window.URL || window.webkitURL;
                          src = url.createObjectURL(f); //create the object url
                          img = new Image();
                          img.src = src;
                          img.onload = function() {

                                url.revokeObjectURL(src); //release the existing object url
                                var canvas = document.getElementById('cv');
                                var context = canvas.getContext('2d');
                                canvas.width = img.width;
                                canvas.height = img.height;
                                context.drawImage(img, 0, 0);

                          }

                          //$('#clear').click(clr);

              }
              /*
              function clr(){
                draw();
              }
              */

              document.getElementById("uploadimage").addEventListener("change", draw, false)

      </script>-->
</body>
</html>
