{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
<p class="col-center-block">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="col-center-block">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="col-center-block">Please login to see this page.</p>
    {% endif %}
{% endif %}

<style type="text/css">
    .btn {
        background-color: #A9A9A9;
        color: #000000;
    }
    .col-center-block {
		    float: none;
		    display: block;
		    margin: 0 auto;
            background-color: #E0E0E0;
    }
    .project-name {
            text-align: center;
            align-content: flex-start;
        }
</style>
</br>
 <div class="container">
        <div class="row">
            <h1 class="project-name">Please Sign In</h1>
            </br>
            <div class="col-md-3 col-center-block">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p class="bs-component">
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        </br>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </p>
                    <p class="bs-component">
                        <center><input class="btn" type="submit" value="login" /></center>
                    </p>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <!--<div class="login-panel panel col-center-block">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <p class="bs-component">
                        <br>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        </br>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        </p>
                        <p class="bs-component">
                            <center><input class="btn" type="submit" value="login" /></center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
</div>

{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}